<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>com.controller.PaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DataTransferServlet</servlet-name>
        <servlet-class>com.controller.DataTransferServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagePaymentServlet</servlet-name>
        <servlet-class>com.controller.ManagePaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadCoverNoteServlet</servlet-name>
        <servlet-class>com.controller.UploadCoverNoteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PDFServlet</servlet-name>
        <servlet-class>com.controller.PDFServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCoverNoteServlet</servlet-name>
        <servlet-class>com.controller.DeleteCoverNoteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/PaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataTransferServlet</servlet-name>
        <url-pattern>/DataTransferServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagePaymentServlet</servlet-name>
        <url-pattern>/ManagePaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadCoverNoteServlet</servlet-name>
        <url-pattern>/UploadCoverNoteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PDFServlet</servlet-name>
        <url-pattern>/PDFServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCoverNoteServlet</servlet-name>
        <url-pattern>/DeleteCoverNoteServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
