* {
    font-family: 'Lato', sans-serif;
}

body {
    background-image: url('background2.png');
    background-size: cover;
    background-position: center;
    height: 110vh;
    width: 98%;
}

.forgot-div {
    margin: 100px auto;
    width: 450px;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
}

.logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.logo img {
    width: 100%;
}

.title, .sub-title {
    text-align: center;
    color: #505050;
}

.title {
    font-weight: bolder;
    font-size: 35px;
}

.sub-title {
    font-size: 18px;
}

.form {
    width: 100%;
    margin-top: 30px;
}

.form input {
    font-size: 15px;
    padding: 10px 20px 10px 5px;
    border: none;
    outline: none;
    background: none;
}

.email {
    display: block;
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 5px;
    margin: 10px 0;
}

.form svg {
    height: 25px;
    margin-bottom: -5px;
    margin-left: 10px;
    margin-right: 5px;
}

.card-footer {
    padding-top: 18px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the buttons */
}

button {
    width: 100%;
    padding: 12px 10px;
    border: none;
    font-size: 18px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 30px;
}

button.newPass-btn {
    background-color: green;
    color: #fff;
    border-radius: 30px;
}

/* Add this block for the hover effect */
button.newPass-btn:hover {
    background-color: darkgreen;
}

button.btn-danger {
    background-color: #dc3545;
    color: #fff;
    border-radius: 30px;
}
